In [85]:
import requests
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt

In [86]:
address = "SW1A 2AA"

url = "https://nominatim.openstreetmap.org"

params = {
    'q': address,
    'format': 'json'
}

response = requests.get(url,params=params).json() # TEXT -> [] / {}
lat_x=response[0]['lat']
long_x=response[0]['lon']

In [87]:
lat_x,long_x

('51.5034402', '-0.1277082')

In [88]:
## Find Closest Stations

In [89]:
stations_df_st=pd.read_csv('../../raw_data/stations_df_st.csv')

In [90]:
stations_f=stations_df_st[['s_id','Station_name','s_lat','s_lon']]
stations_f

       s_id                          Station_name      s_lat     s_lon
0      1023            River Street , Clerkenwell  51.529163 -0.109970
1      1018        Phillimore Gardens, Kensington  51.499606 -0.197574
2      1012  Christopher Street, Liverpool Street  51.521283 -0.084605
3      1013       St. Chad's Street, King's Cross  51.530059 -0.120973
4      3420         Sedding Street, Sloane Square  51.493130 -0.156876
..      ...                                   ...        ...       ...
791  300062  South Bermondsey Station, Bermondsey  51.488067 -0.057774
792  300061          Crimscott Street, Bermondsey  51.495598 -0.078893
793  300060              Brandon Street, Walworth  51.489102 -0.091548
794  300059                  The Blue, Bermondsey  51.492221 -0.062513
795  200081         Coomer Place, West Kensington  51.483570 -0.202038

[796 rows x 4 columns]

In [91]:
def dist(lat1, long1, lat2, long2):
    """
Replicating the same formula as mentioned in Wiki
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [92]:
def find_nearest(lat, long,df):
    distances = df.apply(
        lambda row: dist(lat, long, row['s_lat'], row['s_lon']), 
        axis=1)
    return stations_f.loc[distances.idxmin(), 'Station_name']

In [93]:
location=find_nearest(float(lat_x),float(long_x),stations_f)
location

"Storey's Gate, Westminster"

In [96]:
stations_f[stations_f['Station_name']==location].index[0]

716

In [97]:
stations_f2=stations_f.drop(stations_f[stations_f['Station_name']==location].index[0],axis=0)
stations_f2

       s_id                          Station_name      s_lat     s_lon
0      1023            River Street , Clerkenwell  51.529163 -0.109970
1      1018        Phillimore Gardens, Kensington  51.499606 -0.197574
2      1012  Christopher Street, Liverpool Street  51.521283 -0.084605
3      1013       St. Chad's Street, King's Cross  51.530059 -0.120973
4      3420         Sedding Street, Sloane Square  51.493130 -0.156876
..      ...                                   ...        ...       ...
791  300062  South Bermondsey Station, Bermondsey  51.488067 -0.057774
792  300061          Crimscott Street, Bermondsey  51.495598 -0.078893
793  300060              Brandon Street, Walworth  51.489102 -0.091548
794  300059                  The Blue, Bermondsey  51.492221 -0.062513
795  200081         Coomer Place, West Kensington  51.483570 -0.202038

[795 rows x 4 columns]

In [51]:
# def find_nearest_2(lat, long,location):
#     stations_f2=stations_f.drop(stations_f[stations_f['Station_name']==origin]['s_id'].index[0],axis=0)
#     distances = stations_f2.apply(
#         lambda row: dist(lat, long, row['s_lat'], row['s_lon']), 
#         axis=1)
#     return stations_f2.loc[distances.idxmin(), 'Station_name']

In [98]:
##Second closest
location_closest=find_nearest(float(lat_x),float(long_x),stations_f2)
location_closest

'Westminster Pier, Westminster'