In [12]:
import pandas as pd
import numpy as np
import pickle
import darts
import datetime
from datetime import date
from datetime import timedelta

In [5]:
from darts.models import AutoARIMA
from darts import TimeSeries

In [51]:
model_path='../models/holborn_circus__holborn_model.pkl'
model_loaded= AutoARIMA.load(model_path)

In [52]:
station = 'wormwood_street__liverpool_street'

In [53]:
csv_url='../../raw_data/processed_x_pred_wormwood_street__liverpool_street_2020-01-01_2023-01-01_full_data_4.csv'
df = pd.read_csv(csv_url)
df

,elisabeth_line,lockdown,strike,school_holidays,daytime,London_zone_Central,London_zone_North,London_zone_West,London_zone_South_West,London_zone_South_East,...,rainfall,snowfall,cloudcover,wind_speed,wind_direction,year,month,day,hour,weekday
0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.10,0.062622,0.498607,2023.0,9.0,10.0,0.0,6.0
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.09,0.056751,0.518106,2023.0,9.0,10.0,1.0,6.0
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.06,0.058708,0.537604,2023.0,9.0,10.0,2.0,6.0
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.03,0.066536,0.548747,2023.0,9.0,10.0,3.0,6.0
4,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.082192,0.334262,2023.0,9.0,6.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.093933,0.364903,2023.0,9.0,9.0,5.0,5.0
96,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.093933,0.364903,2023.0,9.0,9.0,6.0,5.0
97,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.099804,0.373259,2023.0,9.0,9.0,7.0,5.0
98,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.01,0.105675,0.395543,2023.0,9.0,9.0,8.0,5.0
99,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.02,0.113503,0.415042,2023.0,9.0,9.0,9.0,5.0

In [54]:
df['startdate']=pd.to_datetime(df[['year', 'month', 'day','hour']])

In [55]:
df

,elisabeth_line,lockdown,strike,school_holidays,daytime,London_zone_Central,London_zone_North,London_zone_West,London_zone_South_West,London_zone_South_East,...,snowfall,cloudcover,wind_speed,wind_direction,year,month,day,hour,weekday,startdate
0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.062622,0.498607,2023.0,9.0,10.0,0.0,6.0,2023-09-10 00:00:00
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.09,0.056751,0.518106,2023.0,9.0,10.0,1.0,6.0,2023-09-10 01:00:00
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.06,0.058708,0.537604,2023.0,9.0,10.0,2.0,6.0,2023-09-10 02:00:00
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.03,0.066536,0.548747,2023.0,9.0,10.0,3.0,6.0,2023-09-10 03:00:00
4,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.082192,0.334262,2023.0,9.0,6.0,0.0,2.0,2023-09-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.093933,0.364903,2023.0,9.0,9.0,5.0,5.0,2023-09-09 05:00:00
96,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.093933,0.364903,2023.0,9.0,9.0,6.0,5.0,2023-09-09 06:00:00
97,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.099804,0.373259,2023.0,9.0,9.0,7.0,5.0,2023-09-09 07:00:00
98,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.01,0.105675,0.395543,2023.0,9.0,9.0,8.0,5.0,2023-09-09 08:00:00
99,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.02,0.113503,0.415042,2023.0,9.0,9.0,9.0,5.0,2023-09-09 09:00:00

In [56]:
covariates = ['elisabeth_line', 'lockdown','strike', 'school_holidays', 'daytime', 'London_zone_Central',
       'London_zone_North', 'London_zone_West', 'London_zone_South_West',
       'London_zone_South_East', 'London_zone_East', 'Event', 'temperature',
       'rainfall', 'snowfall', 'cloudcover', 'wind_speed', 'wind_direction',
       'year', 'month', 'day', 'hour', 'weekday']

cov_series = TimeSeries.from_dataframe(df, time_col='startdate', value_cols=covariates, fill_missing_dates=True, freq='H', fillna_value=0)

In [57]:
predictionX = model_loaded.predict(1,future_covariates=cov_series)

ValueError: For the given forecasting horizon `n=1`, the provided `future_covariates` series must contain at least the next `n=1` time steps/indices after the end of the target `series` that was used to train the model.

ValueError: For the given forecasting horizon `n=1`, the provided `future_covariates` series must contain at least the next `n=1` time steps/indices after the end of the target `series` that was used to train the model.